@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 50%;
    --primary: 252 95% 61%;
    --primary-foreground: 295 100% 96%;
    --dark: 0 0% 10%;
    --skeleton: 0 0% 93%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --secondary: 252 95% 61%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 252 95% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 72%;
    --input: 0 0% 89.8%;
    --ring: 252 95% 61%;
    --chart-1: 252 95% 61%;
    --chart-2: 295 100% 96%;
    --chart-3: 0 0% 98%;
    --chart-4: 0 0% 56%;
    --chart-5: 252 95% 80%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 252 95% 61%;
    --primary-foreground: 0 0% 98%;
    --dark: 0 0% 10%;
    --skeleton: 0 0% 93%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --secondary: 252 95% 61%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 252 95% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 252 95% 61%;
    --input: 0 0% 14.9%;
    --ring: 252 95% 61%;
    --chart-1: 252 95% 61%;
    --chart-2: 295 100% 96%;
    --chart-3: 0 0% 3.9%;
    --chart-4: 0 0% 98%;
    --chart-5: 252 95% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-body text-foreground;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-2 w-2;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-sm bg-border/20;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-border/80;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-border;
  }
}
